.head {
  // vertical-align: baseline;
  line-height: 90px;
  height: 90px;
  width: 100%;
  top: -2px;
}
// .body {
//   margin-bottom: 6px;
// }
.span {
  padding: 0 2px;
  font-weight: 700;
}
.alert {
  color: orange;
}
