.brand_blue-bg_5 {
  background-color: #ECF2FC;
}
.brand_blue-bg1 {
  background-color: #D0DEF8;
}
.brand_blue-bg2, .brand_blue-bg {
  background-color: #B0C8F4;
}
.brand_blue-bg3 {
  background-color: #90B1EF;
}
.yellow-bg1 {
  background-color: #FFEFC0;
}

.gray-bg1 {
  background-color: #ECECEC;
}
.black-bg2 {
  background-color: #96A0AD;
}
.black-bg8 {
  background-color: #1B2A3F;
}
.black-bg {
  background-color: #000000;
}
.white-bg {
  background-color: #FAFBFC;
}

.white {
  color: #FFFFFF;
}
.cream {
  color: #FAFBFC;
}
.wall {
  color: #EEF0F0;
}
.black2 {
  color: #96A0AD;
}