.pink-bg {
  background-color: #E0A3E0;
}
.green-bg {
  background-color: #C2E0A3;
}
.yellow-bg {
  background-color: #E0E0A3;
}
.yellow-bg2 {
  background-color: #F7DFBF;
}
.blue-bg {
  background-color: #BFF3F7;
}
.blue-bg2 {
  background-color: #BFF3F7;
}
.blue-bg3 {
  background-color: #4785C2;
}
.white-bg {
  background-color: #FFFFFF;
}

.gray-bgEF {
  background-color: #EFEFEF;
}
.gray-bgCB {
  background-color: #CBCBCB;
}
.gray-bgD {
  background-color: #DDDDDD;
}

.white {
  color: #FFFFFF;
}
.gray4 {
  color: #444444;
}